@font-face {
    font-family: 'lapicidelight';
    src: url('lapicide-light-webfont.woff2') format('woff2'),
         url('lapicide-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
  font-family:'lapicidelight';
  text-align: center;
  background-color: white;
}

#title-of-page{
    font-family: 'lapicidelight';
    font-size: 80px;
    margin-bottom: 0px;
    margin-top: 10px;
    /* text-shadow: 0 0 10px #0f53ff; */
}

button{
  box-shadow: 0 0px 15px #0f53ff;
}

#information{
font-size: 25px;
margin-top: 5px;
margin-bottom: 5px;
}

#information-two{
  margin-top: 5px;
  margin-bottom: 20px;
   text-decoration: underline;
}
#socket-status{
margin-top: 10px;
}

img{
  width: 12%;
}


form {
margin-top: 10px;
}

#feedback{
  width: 100px;
  height:100px;
  background-color: blue;
}

#feedback.low{
  background-color: lightblue;
}

#feedback.high{
background-color: darkblue;
}
